@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Poppins:ital,wght@1,500&display=swap');

$font-main: 'poppins', sans-serif;
$font-second: 'inter', sans-serif;
$background:#eaeaea;
$text-color: #545a5c;
$blue:#08d9d6;
$red:#e50000;
